.Table {
    width: 100%;
    margin-top: 15px;
}

.headerRow,
.evenRow,
.oddRow {
    border-bottom: 1px solid #e0e0e0;
}

.oddRow {
    background-color: #fafafa;
}

.headerColumn {
    text-transform: none;
}

.exampleColumn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.checkboxLabel {
    margin-left: .5rem;
}

.checkboxLabel:first-of-type {
    margin-left: 0;
}

.noRows {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    color: #bdbdbd;
}



.progressBar {
    width: calc(100% - 160px);
    height: 9px;
    background-color: #dce1ec;
    border-radius: 4px;
    margin-top: 0;
    box-shadow: inset 0px 0px 7px #adb3bf;
    margin-left: 103px;
    line-height: 0;
    small{
        position: absolute;
        top: 44px;
        color: #b7bbcd;
    }
}
.progress {
    height: 100%;
    border-radius: 4px;
    background: linear-gradient(to right, rgba(221,224,228,1) 15%,rgba(221,224,228,1) 16%,rgba(71,128,247,1) 100%)
}

.player span{
    border-right: 2px solid #a4aac2;
    position: relative;
}
.player span:after{
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: #fff;
    border: 2px solid #a4aac2;
    border-radius: 50%;
    top: -2px;
    left: -3px;
}