.record-step1 {

    ::placeholder{color: #333;}
    .home-humility {
        text-align: center;
    }

    .home-fa-twitter {
        margin-left: 2em;
    }

    .card-header h2 {
        font-weight: bold;
    }

    .card-block p {
        color: #414965;
        font-weight: bolder;
        font-size: small;
        width: 80%;
        margin: 1em auto 3em;
        button {

        }
    }

    .input-group {
        width: 100%;
        margin: 0 auto;
        position: relative;
        height: 52px;
        input {
            font-size: medium;
            padding-top: 25px;
        }
        label{
            position: absolute;
            top: 3px;
            left: 13px;
            z-index: 9;
            color: #ced4db;
            font-size: smaller;
            padding-top: 3px;
        }
        span{
            position: absolute;
            right: 13px;
            top: 15px;
            z-index: 9;
            i{
                border: 1px solid gray;
                border-radius: 50%;
                font-size: 20px;
            }
        }

    }

    .chip-sec {
        width: 75%;
        margin: 0 auto;
        margin-top: 2em;
        .chip {
            margin: 3px;
            height: 27px;
            span {
                font-size: smaller;
            }
            svg {
                font-size: large;
            }
        }
    }
}