.record-step2 {

    .home-humility {
        text-align: center;
    }

    .home-fa-twitter {
        margin-left: 2em;
    }

    .card-header h2 {
        font-weight: bold;
        font-size: 21px;
    }

    .card-block {
        p {
            color: #414965;
            font-weight: bolder;
            font-size: 14px;
            margin: 1em auto 3em;
        }
        ol li {
            font-size: 12px;
            color: black;
            margin-bottom: 10px;
        }
        label {
            font-size: 13px;
        }
    }
    .form-check.d-flex{
       span{
           height: 21px!important;
       }
    }
}