.record-step1 ::placeholder {
  color: #333; }

.record-step1 .home-humility {
  text-align: center; }

.record-step1 .home-fa-twitter {
  margin-left: 2em; }

.record-step1 .card-header h2 {
  font-weight: bold; }

.record-step1 .card-block p {
  color: #414965;
  font-weight: bolder;
  font-size: small;
  width: 80%;
  margin: 1em auto 3em; }

.record-step1 .input-group {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 52px; }
  .record-step1 .input-group input {
    font-size: medium;
    padding-top: 25px; }
  .record-step1 .input-group label {
    position: absolute;
    top: 3px;
    left: 13px;
    z-index: 9;
    color: #ced4db;
    font-size: smaller;
    padding-top: 3px; }
  .record-step1 .input-group span {
    position: absolute;
    right: 13px;
    top: 15px;
    z-index: 9; }
    .record-step1 .input-group span i {
      border: 1px solid gray;
      border-radius: 50%;
      font-size: 20px; }

.record-step1 .chip-sec {
  width: 75%;
  margin: 0 auto;
  margin-top: 2em; }
  .record-step1 .chip-sec .chip {
    margin: 3px;
    height: 27px; }
    .record-step1 .chip-sec .chip span {
      font-size: smaller; }
    .record-step1 .chip-sec .chip svg {
      font-size: large; }
